<% if user_signed_in? %>

	<% @tennis_courts.each do |tennis_court| %>
	  <div class="tennis_court">
	    <%= tennis_court.name %>
	    <%= link_to "Show all bookings", tennis_court_bookings_path(tennis_court) %>
  <!-- link_to "Delete", tennis_court_path(tennis_court), data: { confirm: 'Are you sure?' }, method: :delete %>
 link_to "Edit", edit_tennis_court_path(tennis_court) %> -->
	    <%= link_to "Add booking", new_tennis_court_booking_path(tennis_court), class: "btn btn-success" %>
	  </div>
	  
	<% end %>
	<!-- this a back linkt to the All tennis courts list -->
<!-- link_to "New Space Booking", new_tennis_court_path %> -->
<% else %>

 <section class="hero" data-start="background-position: 50% -70px;" data-100p="background-position: 50% 0px;">
      <div class="section-overlay">
        <div class="float-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                <img src="http://placehold.it/150x45/ffffff/000000" class="img-responsive" alt=""><br>
                <h1 class="light wow fadeInDown">Your app has never been cooler</h1>
                <form class="form-inline">
                  <div class="form-group">
                    <label for="exampleInputEmail2"></label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                  </div>
                  <br>
                  <br>
                  <button type="submit" class="btn btn-primary btn-lg">Send invitation</button>
                </form>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="sticky-bottom text-center wow fadeInUp">
          <img src="http://www.awerest.com/demo/superawesome/img/intro-featured-image.png" alt="" class="img-responsive" data-start="opacity: 1; margin-bottom: 0%;" data-80p="opacity: 0; margin-bottom: -15%;">
        </div>
      </div>
    </section>
  <!-- End intro / Video version -->
  <!-- Start testimonials -->
  <!-- End testimonials -->
    <footer>
      <div class="container">
        <div class="divide-xs"></div>
        <hr>
        <div class="row text-center">
          <div class="col-sm-12 divide-sm">
            <img src="http://placehold.it/150x45/edf2f5/000000" class="img-responsive" alt="">
<hr />
            <%= form_for @lead do |f| %>
              <%= f.text_field :name, placeholder: "Name" %>
              <%= f.email_field :email, placeholder: "Email" %>
              <%= f.text_field :devise, placeholder: "Device" %>
              <%= f.text_field :social_media, placeholder: "soundcloud.com/example" %>
              <%= f.submit %>
            <% end %>

          </div>
          <div class="col-sm-12">
            <div class="footer-links">
              <%= link_to "Terms", "#" %> •
              <%= link_to "Privacy", "#" %> •
              <%= link_to "Purchase", "#" %>
            </div>
          </div>
          <div class="col-sm-12 divide-xs">
            <p><small>Copyright &copy; 2015 All Offices Inc. All rights reserved.</small></p>
          </div>
        </div>
      </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Sign in", new_admin_session_path %></li>
                    <li><%= link_to "Sign Up", new_admin_registration_path, class: "button" %></li>
                </ul>
    </footer>

<% end %>
