


<% if user_signed_in? || admin_signed_in? %>

<br />
	<% @tennis_courts.each do |tennis_court| %>
  <div class="container">
	  <div class="tennis_court">
      <%= link_to "Add booking", new_tennis_court_booking_path(tennis_court), class: "btn btn-success btn-block" %>
  <!-- link_to "Delete", tennis_court_path(tennis_court), data: { confirm: 'Are you sure?' }, method: :delete %>
 link_to "Edit", edit_tennis_court_path(tennis_court) %> -->
      <%= link_to "Show all bookings", tennis_court_bookings_path(tennis_court), class: "btn btn-default btn-block"  %>
	  </div>
  </div>
	<% end %>
	<!-- this a back linkt to the All tennis courts list -->
<!-- link_to "New Space Booking", new_tennis_court_path %> -->
<% else %>
<!-- here goes the snipps -->
<% end %>
<br />
<br />

          </div>
          <div class="col-sm-12">
            <div class="footer-links">
              <%= link_to "Terms", "#" %> •
              <%= link_to "Privacy", "#" %> •
              <%= link_to "Purchase", "#" %>
            </div>
          </div>
          <div class="col-sm-12 divide-xs">
            <p><small>Copyright &copy; 2015 All Offices Inc. All rights reserved.</small></p>
          </div>
        </div>
      </div>
    </footer>

<% end %>
