<% if user_signed_in? || admin_signed_in? %>

<br />

	<% @tennis_courts.each do |tennis_court| %>


    <% if current_user.try(:admin?) %>
<div class="container">
  <div class="row">
    <div class=".col-xs-6 .col-md-4">
  <div class="mobile-booking">
    <div class="tennis_court">
      <%= link_to "Show all bookings", tennis_court_bookings_path(tennis_court), class: "btn btn-info btn-block"  %>
    </div>
  </div>
</div>
</div>


    <br />
<br />
<div class="container">
  <div class="row">
    <div class=".col-xs-6 .col-md-4">
  <div class="mobile-booking">
      <div class="note note-info note-bordered">
  <h4 class="block">Bootstrap Native Modals</h4>
  <p>
    Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults. If you need more control over the Bootstrap Modals please check out <a href="ui_extended_modals.html">
              extended modals </a>
              .
  </p>
</div>
</div>
</div>
</div>
</div>


<br />
<br />

    <% else %>
    <div class="new-booking">
      <%= link_to "Add booking", new_tennis_court_booking_path(tennis_court), class: "btn btn-success btn-block btn-lg" %>
      <br />
      <%= link_to "Show all bookings", tennis_court_bookings_path(tennis_court), class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="container">
      <div class="row">
      <div class="mobile-booking">
        <div class=".col-xs-6 .col-md-4">

        <%= link_to "New Booking", new_tennis_court_booking_path(tennis_court), class: "btn btn-success btn-lg" %>

        <%= link_to "All bookings", tennis_court_bookings_path(tennis_court), class: "btn btn-default btn-lg" %>

        </div>
        </div>
      </div>
    </div>
<br />
<br />
<div class="container">
  <div class="row">
    <div class=".col-xs-6 .col-md-4">
<div class="note note-info note-bordered">
  <h4 class="block">Bootstrap Native Modals</h4>
  <p>
    Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults. If you need more control over the Bootstrap Modals please check out <a href="ui_extended_modals.html">
              extended modals </a>
              .
  </p>
</div>
</div>
</div>
</div>


<br />
<br />


    <% end %>


  <!-- link_to "Delete", tennis_court_path(tennis_court), data: { confirm: 'Are you sure?' }, method: :delete %>
 link_to "Edit", edit_tennis_court_path(tennis_court) %> --><br />
	  </div>
  </div>
	<% end %>

	<!-- this a back linkt to the All tennis courts list -->



















<% else %>
<!-- here goes the snipps -->
 <section class="hero" data-start="background-position: 50% -70px;" data-100p="background-position: 50% 0px;">
      <div class="section-overlay">
        <div class="float-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1 class="light wow fadeInDown">Bookings</h1>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="sticky-bottom text-center wow fadeInUp">
          <img src="/images/header1.jpg" alt="" class="img-responsive" data-start="opacity: 1; margin-bottom: 0%;" data-80p="opacity: 0; margin-bottom: -15%;">
        </div>
      </div>
    </section>



<!-- <section class="white-bg">
  <div class="bingo">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <div class="divide-xl"></div>
        <h2>Well documented</h2>
        <h3>Plus top-notch free support</h3>
        <p class="no-margin">Step by step customization packed in one nice document that comes with download. Saves your time so you can be dedicated to your work. Support is available free of charge to all users of our products. Get in touch, we're glad to help.</p>
        <div class="divide-xl"></div>
      </div>
      <img src="http://placehold.it/800x400/7dc800/ffffff" class="img-responsive img-offgrid-left" alt="">
    </div>
    
  </div>
</section> -->


    
  <!-- End intro / Video version -->
  <!-- Start testimonials -->
  <!-- End testimonials -->
<!--   %if cookies[:saved_lead] %>
    <h1>Thanks for signin up!</h1>
  % else %> -->
<%= form_for @lead do |f| %>
  <form>
    <div class="container">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
      <div class="panel-heading">
            <h2>Beta Access</h2>
            <hr />
            <br />
            <p>We are looking
for 50 early adopters,<br>
to work closely with and help
make the Nobbble better.</p>

<h3>Signup today to get in line!</h3>
      </div>
    <div class="panel-body">
    <form role="form">
    <fieldset>
        <div class="form-group">
<%= f.select :devise, ["iPhone", "Android"], prompt: "Choose Your Device"  %>
   </div>
   <div class="form-group">
      <%= f.text_field :name, type: 'name',placeholder: 'Name', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, type: 'email', placeholder: 'Email', class: 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.text_field :social_media, type: 'social_media',placeholder: 'Yoursite.com/example', class: 'form-control' %>
    </div>
    <hr />
    <button type="submit" class="btn btn-success btn-block">Register Today For Early Access</button>
</form>
<% end %>
<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="copyright">
 2015 © All Offices of New York
</div>
      </div>
    </div>
  </div>
</div>
<% end %>

























