<div class="panel-ego">
  <div class="container">
    <% if current_user.try(:admin?) %>
        <h3>Here will be some text</h3>
    <% else %>
    <div class="row">
      <div class="new-booking">
        <div class=".col-xs-6 .col-md-4">
      <%= link_to "New Booking", new_tennis_court_booking_path, class: "btn btn-success btn-block" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if user_signed_in? %>


<!-- position:relative
position:absolute; bottom:0; -->

    <% @bookings.each do |booking| %>
  <div id="page-wrapper">
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <% if booking.user == current_user %>
            <div class="round-image-80"><%= image_tag(current_user.image.url(:thumb)) %>
            </div>
            <br />
            <%= booking.user.name %><br />
            <%= booking.start_time.strftime('%D') %>
            <% else %>
            <div class="round-image-80"><%= image_tag(booking.user.image.url(:thumb)) %>
            </div>
            <br />
            <%= booking.user.name %>
            <br />
            <%= booking.start_time.strftime('%D') %>
          <% end %>
        </div>
                            <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="list-group">
              <div href="#" class="list-group-item">
                <i class="fa fa-comment fa-fw"></i>Start Time
                <div class="pull-right text-muted small"><em><%= booking.start_time.strftime('%H:%M%p') %></em>
              </div>
          </div>
                <div href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> End Time
                      <div class="pull-right text-muted small"><%= (booking.calculate_end_time + 60).strftime('%H:%M%p')%>
                      </div>
                </div>
      </div>

<!-- admin options acts as votable -->

        <div class="booking-list-edit">
          <% if current_user.try(:admin?) %>

            <%= link_to "Request", like_tennis_court_booking_path(@tennis_court, booking), method: :get, class: "btn btn-success btn-block" %>

          <% elsif booking.user == current_user %>

            <%= booking.get_upvotes.size %> Requests</p>
            <%= link_to "Delete", tennis_court_booking_path(@tennis_court, booking), class: "btn btn-default" , data: { confirm: 'Are you sure?' }, method: :delete %>

            <%= link_to "Edit", edit_tennis_court_booking_path(@tennis_court, booking), class: "btn btn-info" %>

          <% else %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <% end %>

  <% if current_user.try(:admin?) %>
  <% elsif current_user %>
<div class="container">
  <div class="row">
    <div class="mobile-booking">
      <div class=".col-xs-6 .col-md-4">
        <%= link_to "New Booking", new_tennis_court_booking_path, class: "btn btn-success btn-block" %>
      </div>
    </div>
  </div>
</div>

  <% else %>
  <% end %>

  <% else %>

<!-- add other information for booking here also link to signin  or sign up -->



<% end %>