<br />
<br />
<br />
<br />
<br />
<%= link_to "Index Post Page", posts_path %>
<br />
<%= link_to "New Post", new_post_path %>
<br />
<br />
<p>
	<%= @post.title %>
</p>
<p>
	<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete?" }%>
	<%= link_to "Edit", edit_post_path(@post) %>
</p>
<p>
	<%= @post.content %>
</p>
